<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAql0gT0GKm34nFdghWbQcS8txphrqdwE</string>
	<key>GCM_SENDER_ID</key>
	<string>476100136448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.7wells.flowo</string>
	<key>PROJECT_ID</key>
	<string>flowo-fc2e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flowo-fc2e5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476100136448:ios:e763df230e40ff21d152e5</string>
</dict>
</plist>